{
    "swagger": "2.0",
    "info": {
        "title": "NYT SugarCrm Consumer API",
        "description": "",
        "termsOfService": "Link to Be added",
        "license": {
            "name": "MIT",
            "url": "Link to Be added"
        },
        "version": "0.1.1"
    },
    "host": "sugar-app.local.nytimes.com:8001",
    "basePath": "/rest/v10",
    "schemes": [
        "http",
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/Api/token": {
            "post": {
                "summary": "Generate Access Token",
                "description": "Generate Access token for NYT SugarCRM",
                "operationId": "accessToken",
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "description": "Username & Password",
                        "required": true,
                        "schema": {
                            "properties": {
                                "username": {
                                    "type": "string"
                                },
                                "password": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "bad credentials"
                    }
                }
            }
        },
        "/Api/healthcheck": {
            "get": {
                "summary": "Simple Health Check",
                "description": "Preform simple Health Check",
                "operationId": "healthcheck",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "401": {
                        "description": "bad credentials"
                    }
                },
                "security": [
                    {
                        "NYT_Sugar_Access_Token": []
                    }
                ]
            }
        }
    },
    "definitions": {},
    "securityDefinitions": {
        "NYT_Sugar_Access_Token": {
            "type": "apiKey",
            "description": "\n *      Request new Access Token via Api/token endpoint\n *      The following syntax must be used in the 'OAuth-Token' header:\n *      OAuth-Token: xxxxxxx-xxxx-xxxx-xxxx-xxxxxxx",
            "name": "OAuth-Token",
            "in": "header"
        }
    },
    "externalDocs": {
        "description": "API Docs",
        "url": "Link to Be added"
    }
}
